<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Needed for Firebase + Quotes/News APIs -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Optional: if you later use notifications (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Optional: only if you add Maps + user location -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyBuddy"
        tools:targetApi="31">

        <!-- LAUNCHER (Login) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AUTH -->
        <activity
            android:name=".SignupActivity"
            android:exported="false" />

        <!-- 5 Bottom Navigation Pages -->
        <activity
            android:name=".home.HomeActivity"
            android:exported="false" />

        <!--
        <activity
            android:name=".tasks.TasksActivity"
            android:exported="false" />

        <activity
            android:name=".modules.ModulesActivity"
            android:exported="false" />

        <activity
            android:name=".focus.FocusActivity"
            android:exported="false" />

            -->

        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />

        <!-- Optional extra screens (uncomment if you create them) -->
        <!--
        <activity
            android:name=".ui.tasks.AddEditTaskActivity"
            android:exported="false" />

        <activity
            android:name=".ui.modules.AddEditModuleActivity"
            android:exported="false" />

        <activity
            android:name=".ui.maps.MapsActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        -->

    </application>

</manifest>
